{% extends 'home/base.html' %}
{% block content %}

<div class="element">
    <div id="presentation">
        <divid="description">
            <p>
                Bonjour, je m'appelle Arnaud, je suis développeur web et je me présente par ce biais pour vous
                montrer de manière plus concrète mes capacités de programmation. Je viens du Brésil et je me suis formé
                à la
                faculté de Sao Paulo en Science Informatique. Auparavant je me suis formé en France en Automatisme et
                Informatique Industriel.
            </p>

            <p>
                Je cherche a me perfectionner chaque jours en programmation et être plus complet sur mes projets, tant
                sur la partie Front que sur le End en m’occupant d'héberger mon savoir sur des serveurs en PaaS et avec
                des bases de données SQL
            </p>
    </div>

    <div id="fiche">
        <p>Nom: Kohler</p>
        <p>Prenom: Arnaud</p>
    </div>
</div>
</div>

<hr>

<div class="element">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repudiandae alias consequuntur sed voluptate
        accusantium perferendis maiores fuga eveniet repellat amet optio sunt, hic non quo earum molestiae dolore eaque
        nihil. Error illum totam ipsam vitae ullam maxime nihil eligendi aliquam tempora impedit nesciunt sequi
        assumenda voluptas eaque sit veniam provident quam nisi quae blanditiis veritatis modi sint, voluptates dolorem.
        Voluptatibus a quae facere quasi commodi, dolore illo laborum omnis aspernatur, alias temporibus aut sequi
        sapiente rem, unde hic nesciunt quo. Qui quasi officiis adipisci mollitia eius cum harum, quia assumenda rerum
        necessitatibus voluptates ipsam fugiat sed impedit molestias debitis tenetur exercitationem amet ducimus ut
        quibusdam reprehenderit! Totam architecto rem vel dolores alias numquam ullam libero nisi iure ratione? Quia
        amet natus suscipit officiis illum explicabo porro neque ullam! Qui ipsa ad enim sed, optio reprehenderit
        blanditiis iure quidem amet. Ea corrupti esse ratione alias perspiciatis animi optio cum sed, repellat, minus
        labore commodi et asperiores! Totam, voluptatum. Necessitatibus voluptate eveniet tenetur ipsam veniam, totam
        nemo quibusdam vitae harum quisquam esse earum architecto nulla modi doloremque deserunt. Ipsam repellat
        expedita odio id accusantium nostrum aliquam distinctio officiis quos quis, inventore dolorum nesciunt aperiam,
        facilis iste enim voluptatem! Dolorum, eveniet! Laboriosam!
    </p>
</div>

<hr>

<div class="element">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam velit, sapiente consequuntur deleniti, amet
        dolores dolorum, architecto accusantium perferendis molestiae totam? Dolor quas architecto consectetur quibusdam
        reprehenderit? Corporis debitis eveniet quae iste veniam cumque quibusdam! Corrupti nihil cumque enim facilis
        recusandae. Labore quasi exercitationem earum vitae expedita, non eum totam officiis ullam asperiores. Error
        quod, soluta iste aut mollitia minima sed saepe est nulla dolore impedit eum libero perspiciatis! Possimus non
        voluptate provident consequatur cumque voluptatem vel illo? Officia eligendi dolore nam error distinctio
        temporibus excepturi! Architecto corrupti veritatis perferendis delectus labore et qui ratione quaerat minima
        modi repellat omnis adipisci non debitis quidem, voluptatibus quas nulla, beatae, magni aut maiores. Ratione
        incidunt sit odit non facere blanditiis fuga beatae a, eligendi cupiditate commodi laboriosam velit delectus
        praesentium error consequuntur accusamus? Sapiente, animi. Facilis officiis velit ea, hic a optio quidem
        voluptatum maxime voluptas aut, sit repellendus doloremque porro eum est neque asperiores rem repudiandae dicta
        rerum ratione repellat harum saepe ex! Voluptate corrupti fuga impedit, porro enim pariatur eum aliquid, quidem
        delectus labore, officiis sapiente? Quidem fugiat facilis, quam ad omnis, odit ducimus suscipit magni at dolores
        corporis nisi recusandae, laboriosam saepe neque. Magni quam culpa placeat consequatur accusantium?
    </p>
</div>

{% endblock content %}